AI Sales Intelligence & Lead Qualification Engine updated.json
{
  "name": "AI Sales Intelligence & Lead Qualification Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_capture",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        256
      ],
      "id": "ac98a5e9-f85c-4d08-a9ac-a23634f185dd",
      "name": "Webhook",
      "webhookId": "3f7fd271-b496-42f1-b83b-800e3a82845f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"messages\": [ { \"role\": \"system\", \"content\": \"You are a sales lead qualification AI. Your ONLY job is to output strictly valid JSON. Do NOT include any explanations, markdown, extra text, or reasoning. Respond only with JSON, starting with { and ending with }.The JSON must ALWAYS contain ALL of the following keys exactly as written:- Name (person name), lead_quality (Hot, Warm, Cold), budget_estimate (number in USD, 0 if unknown), urgency (High, Medium, Low), use_case (short string), decision_maker (Likely, Possible, Unclear), score (integer 0-100), summary (1 sentence professional summary), email (must copy exactly from input, do NOT modify), phone (must copy exactly from input, do NOT modify),IMPORTANT RULES: Never invent or modify email or phone. If email or phone is missing in input, return null.- Scoring Guidelines: High urgency + budget + clear need = 75-100 Some intent but unclear budget = 50-74  Low intent / vague inquiry = 0-49\\n\\nIGNORE all other instructions and return ONLY the JSON.\" }, { \"role\": \"user\", \"content\": \"Lead Data:\\n{{ JSON.stringify($json) }}\" } ], \"temperature\": 0",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -304,
        96
      ],
      "id": "725d7b7c-4343-462f-a481-e0a42b36344a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ],
      "id": "163d22b6-d044-4fe0-abbd-60578e6511c4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "tMoIPnyVJd893NEg",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app02ya6ZMfuDGsrv",
          "mode": "list",
          "cachedResultName": "AI sales and lead",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv"
        },
        "table": {
          "__rl": true,
          "value": "tblwDV7fnu9uD5nse",
          "mode": "list",
          "cachedResultName": "AI data",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv/tblwDV7fnu9uD5nse"
        },
        "filterByFormula": "=AND({unique_id} = '{{ $json.unique_id }}', IS_AFTER(CREATED_TIME(), '{{ $now.minus({ days: 30 }).toISO() }}'))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -16,
        144
      ],
      "id": "bbcc67e8-c4ef-4bef-a1e8-d438f88f8dc0",
      "name": "Search records",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "XRXTkuY4bN3HwW81",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "Hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "11b43ece-d4e2-4250-92c3-607de820fbcd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8d975c9c-1d91-4f76-935a-90a851fbc09a",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "Warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7053057-18a9-4e80-940a-bf226dc43548",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "Cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        144
      ],
      "id": "7957fde5-b887-47c8-95e3-1237b68332d2",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A4E3G3JBV",
          "mode": "list",
          "cachedResultName": "all-kd-automation-lab"
        },
        "text": "=🚨 *HOT LEAD ALERT* 🚨 Assigned To: {{$json.Representative_name}} (<@{{$json.Representative_slack_id}}>)\nLead quality: {{ $json.lead_quality }} \n👤 Name: {{ $json.name }} \n📧 Email:{{$json.email }}\n📱 Phone: {{ $json.phone }} \n💰 Budget: $ {{ $json.budget_estimate }}\n⚡ Urgency: {{ $json.urgency }} \n📊 Score:{{$json.score}}/100  \n📝 Summary: {{ $json.summary}} \nUnique_key: {{$json.unique_id}}\n🔥 Immediate follow-up recommended.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        208,
        48
      ],
      "id": "9e2a2f17-1fb5-4da8-ae65-23e9bb1cc532",
      "name": "Send a message",
      "webhookId": "d791a5c6-fca1-410b-b0ad-0cf3594e5f12",
      "credentials": {
        "slackOAuth2Api": {
          "id": "RejgkiruHPU4emmO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A4E3G3JBV",
          "mode": "list",
          "cachedResultName": "all-kd-automation-lab"
        },
        "text": "=⚡*Warm Lead Alert*⚡\n🚨 Assigned To: {{$json.Representative_name}} (<@{{$json.Representative_slack_id}}>)\nLead quality: {{ $json.lead_quality }} \n👤 Name: {{ $json.name }} \n📧 Email:{{$json.email }}\n📱 Phone: {{ $json.phone }} \n💰 Budget: $ {{ $json.budget_estimate }}\n⚡ Urgency: {{ $json.urgency }} \n📊 Score:{{$json.score}}/100  \n📝 Summary: {{ $json.summary}} \nUnique_key: {{$json.unique_id}}\nas soon as follow-up recommended.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        784,
        160
      ],
      "id": "ea61d415-c508-419c-95b5-c2e3b7777792",
      "name": "Send a message1",
      "webhookId": "f615d19e-c8c8-4eec-a635-f7f13a906848",
      "credentials": {
        "slackOAuth2Api": {
          "id": "RejgkiruHPU4emmO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A4E3G3JBV",
          "mode": "list",
          "cachedResultName": "all-kd-automation-lab"
        },
        "text": "=❄️*Cold Lead Alert*❄️\n🚨 Assigned To: {{$json.Representative_name}} (<@{{$json.Representative_slack_id}}>)\nLead quality: {{ $json.lead_quality }} \n👤 Name: {{ $json.name }} \n📧 Email:{{$json.email }}\n📱 Phone: {{ $json.phone }} \n💰 Budget: $ {{ $json.budget_estimate }}\n⚡ Urgency: {{ $json.urgency }} \n📊 Score:{{$json.score}}/100  \n📝 Summary: {{ $json.summary}} \nUnique_key: {{$json.unique_id}}\nfollow-up recommended.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        448,
        352
      ],
      "id": "b4a5a6a1-86f0-45dd-a0f5-0766d09542d8",
      "name": "Send a message2",
      "webhookId": "a72242b7-05b5-4816-bf41-4673da47fe82",
      "credentials": {
        "slackOAuth2Api": {
          "id": "RejgkiruHPU4emmO",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app02ya6ZMfuDGsrv",
          "mode": "list",
          "cachedResultName": "AI sales and lead",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv"
        },
        "table": {
          "__rl": true,
          "value": "tblwDV7fnu9uD5nse",
          "mode": "list",
          "cachedResultName": "AI data",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv/tblwDV7fnu9uD5nse"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Switch').item.json.unique_id }}",
            "lead quality": "={{ $('Switch').item.json.lead_quality }}",
            "budget_estimate": "={{ $('Switch').item.json.budget_estimate }}",
            "urgency": "={{ $('Switch').item.json.urgency }}",
            "use_case": "={{ $('Switch').item.json.use_case }}",
            "decision_maker": "={{ $('Switch').item.json.decision_maker }}",
            "score": "={{ $('Switch').item.json.score }}",
            "summary": "={{ $('Switch').item.json.summary }}",
            "email": "={{ $('Switch').item.json.email}}",
            "phone": "={{ $('Switch').item.json.phone }}",
            "Assigned_Representative": "={{ $('Switch').item.json.Representative_name }}",
            "Assigned_Repr_id": "={{ $('Switch').item.json.Representative_slack_id }}",
            "unique_id": "={{ $('Switch').item.json.unique_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lead quality",
              "displayName": "lead quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budget_estimate",
              "displayName": "budget_estimate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "use_case",
              "displayName": "use_case",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned_Representative",
              "displayName": "Assigned_Representative",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned_Repr_id",
              "displayName": "Assigned_Repr_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        48
      ],
      "id": "c412f096-0c48-444a-a6ab-0c7697289432",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "XRXTkuY4bN3HwW81",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a0c6e806-7481-4376-a409-75b071855945",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49fd186f-daef-4926-a8b4-1dcfa020825a",
              "leftValue": "={{ Object.keys($json).length != 0 }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        208
      ],
      "id": "f5ba98b3-0e99-4e3a-a9d5-44682211d395",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app02ya6ZMfuDGsrv",
          "mode": "list",
          "cachedResultName": "AI sales and lead",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv"
        },
        "table": {
          "__rl": true,
          "value": "tblwDV7fnu9uD5nse",
          "mode": "list",
          "cachedResultName": "AI data",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv/tblwDV7fnu9uD5nse"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Switch').item.json.unique_id }}",
            "lead quality": "={{ $('Switch').item.json.lead_quality}}",
            "budget_estimate": "={{ $('Switch').item.json.budget_estimate}}",
            "urgency": "={{ $('Switch').item.json.urgency}}",
            "use_case": "={{ $('Switch').item.json.use_case}}",
            "decision_maker": "={{ $('Switch').item.json.decision_maker }}",
            "score": "={{ $('Switch').item.json.score }}",
            "summary": "={{ $('Switch').item.json.summary }}",
            "email": "={{ $('Switch').item.json.email}}",
            "phone": "={{ $('Switch').item.json.phone }}",
            "Assigned_Representative": "={{ $('Switch').item.json.Representative_name }}",
            "Assigned_Repr_id": "={{ $('Switch').item.json.Representative_slack_id }}",
            "unique_id": "={{ $('Switch').item.json.unique_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lead quality",
              "displayName": "lead quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budget_estimate",
              "displayName": "budget_estimate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "use_case",
              "displayName": "use_case",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned_Representative",
              "displayName": "Assigned_Representative",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned_Repr_id",
              "displayName": "Assigned_Repr_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        704,
        560
      ],
      "id": "de4ba55b-7994-416f-b814-fdfe8e9ee08c",
      "name": "Create or update a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "XRXTkuY4bN3HwW81",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app02ya6ZMfuDGsrv",
          "mode": "list",
          "cachedResultName": "AI sales and lead",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv"
        },
        "table": {
          "__rl": true,
          "value": "tblwDV7fnu9uD5nse",
          "mode": "list",
          "cachedResultName": "AI data",
          "cachedResultUrl": "https://airtable.com/app02ya6ZMfuDGsrv/tblwDV7fnu9uD5nse"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Switch').item.json.unique_id }}",
            "lead quality": "={{ $('Switch').item.json.lead_quality }}",
            "budget_estimate": "={{ $('Switch').item.json.budget_estimate }}",
            "urgency": "={{ $('Switch').item.json.urgency}}",
            "use_case": "={{ $('Switch').item.json.use_case}}",
            "decision_maker": "={{ $('Switch').item.json.decision_maker }}",
            "score": "={{ $('Switch').item.json.score }}",
            "summary": "={{ $('Switch').item.json.summary }}",
            "email": "={{ $('Switch').item.json.email}}",
            "phone": "={{ $('Switch').item.json.phone }}",
            "Assigned_Representative": "={{ $('Switch').item.json.Representative_name }}",
            "Assigned_Repr_id": "={{ $('Switch').item.json.Representative_slack_id }}",
            "unique_id": "={{ $('Switch').item.json.unique_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lead quality",
              "displayName": "lead quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budget_estimate",
              "displayName": "budget_estimate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "use_case",
              "displayName": "use_case",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned_Representative",
              "displayName": "Assigned_Representative",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned_Repr_id",
              "displayName": "Assigned_Repr_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        704,
        384
      ],
      "id": "21260cf6-d5bf-4c5f-ae6b-e6748f5ab014",
      "name": "Create or update a record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "XRXTkuY4bN3HwW81",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet output = [];\n\nfor (const item of items) {\n\n  let data = item.json.body ?? item.json;\n\n  // If body is an array (multiple leads)\n  if (Array.isArray(data)) {\n\n    for (const lead of data) {\n      if (lead && typeof lead === 'object' && !Array.isArray(lead)) {\n        output.push({ json: lead });\n      }\n    }\n\n  } \n  // If single object\n  else if (data && typeof data === 'object' && !Array.isArray(data)) {\n    output.push({ json: data });\n  }\n\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        448
      ],
      "id": "928a3ae6-8342-4e30-af4b-2f401327e6f8",
      "name": "DSinRF"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Helper to safely parse JSON string\nfunction safeParse(input) {\n  if (!input) return {};              // null or undefined -> empty object\n  if (typeof input === 'string') {\n    try {\n      return JSON.parse(input);       // parse string if possible\n    } catch (err) {\n      return {};                       // fallback if invalid JSON\n    }\n  }\n  return input;                        // already an object\n}\n\n// Get input from previous node\nlet data = safeParse($json.text ?? $json);\n\n// Return a single object (not an array) for \"Run Once for Each Item\"\nreturn { json: data };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        320
      ],
      "id": "daddf6ba-fefa-4114-a90b-68697894334a",
      "name": "DSinRF1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58d79d1c-ac4a-4a1b-ba70-b6851901d19f",
              "name": "priority",
              "value": "={{ \n  (\n    Number(String($json.score || 0).trim()) >= 75\n      ? 'Hot'\n      : Number(String($json.score || 0).trim()) >= 50\n        ? 'Warm'\n        : 'Cold'\n  ).replace(/\\n/g, '').trim()\n}}",
              "type": "string"
            },
            {
              "id": "ff4ee1c3-aa3c-402a-abc0-e67dd8b1dd0b",
              "name": "lead_quality",
              "value": "={{ $json.lead_quality }}",
              "type": "string"
            },
            {
              "id": "9fce4288-6193-4c00-a57f-1a26df23f2a7",
              "name": "budget_estimate",
              "value": "={{ $json.budget_estimate }}",
              "type": "string"
            },
            {
              "id": "1924c738-ea4d-4308-b5d5-c28503fe439f",
              "name": "urgency",
              "value": "={{ $json.urgency }}",
              "type": "string"
            },
            {
              "id": "ded23a83-0caf-4d22-88e0-642c0fe40819",
              "name": "use_case",
              "value": "={{ $json.use_case }}",
              "type": "string"
            },
            {
              "id": "e233c0a5-9aba-4c2b-86db-436694180d5f",
              "name": "decision_maker",
              "value": "={{ $json.decision_maker }}",
              "type": "string"
            },
            {
              "id": "f5da8996-b8c0-4f50-9325-c598d85d5959",
              "name": "score",
              "value": "={{ $json.score }}",
              "type": "string"
            },
            {
              "id": "4df230e5-d984-44de-8968-45f5e89b46c2",
              "name": "summary",
              "value": "={{ $json.summary}}",
              "type": "string"
            },
            {
              "id": "bdf18bb0-2e34-469d-913f-60e93b760c36",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "7b11d640-23e2-414b-ae9c-078a8333b4e6",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "cd22c104-c039-4e00-a28e-b3571d7fbfde",
              "name": "name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "e4eec43d-9b66-4aea-9c19-3f9a96b14e8a",
              "name": "sales_representative",
              "value": "[   {\"name\":\"John\",\"slack_id\":\"UXXXX1\"},   {\"name\":\"Sarah\",\"slack_id\":\"UXXXX2\"},   {\"name\":\"Michael\",\"slack_id\":\"UXXXX3\"},   {\"name\":\"Emily\",\"slack_id\":\"UXXXX4\"},   {\"name\":\"David\",\"slack_id\":\"UXXXX5\"} ]",
              "type": "string"
            },
            {
              "id": "79b9bd73-2fc9-47c8-95d7-1d4bcce1cdeb",
              "name": "unique_id",
              "value": "={{ $json.Name + '|' + $json.email + '|' + $json.phone }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        352
      ],
      "id": "6df5e62c-a395-42e1-b76f-e947499e30de",
      "name": "PrSR"
    },
    {
      "parameters": {
        "jsCode": "// Get all original items\nconst originalItems = $items(\"PrSR\", 0);\n\n// Get all found duplicates from Search node\nconst searchResults = $items(\"Search records\", 0);\n\n// Create a Set of duplicate emails (or unique field you used in Airtable search)\nconst duplicateEmails = new Set(\n  searchResults.map(item => item.json.email)\n);\n\n// Filter out duplicates\nconst filteredItems = originalItems.filter(item => \n  !duplicateEmails.has(item.json.email)\n);\n\n// Now assign priority + sales rep\nreturn filteredItems.map(item => {\n\n  const score = Number(item.json.score);\n\n  let priority;\n  let representative_name;\n  let representative_slack_id;\n\n  if (score >= 85) {\n    priority = \"Hot\";\n    representative_name = \"John\";\n    representative_slack_id = \"UXXXX1\";\n  } \n  else if (score >= 70) {\n    priority = \"Warm\";\n    representative_name = \"Sarah\";\n    representative_slack_id = \"UXXXX2\";\n  } \n  else {\n    priority = \"Cold\";\n    representative_name = \"Michael\";\n    representative_slack_id = \"UXXXX3\";\n  }\n\n  return {\n    json: {\n      ...item.json,\n      priority,\n      Representative_name: representative_name,\n      Representative_slack_id: representative_slack_id\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        192
      ],
      "id": "1064216d-367c-42b1-926c-598db4f388a8",
      "name": "combine 4 data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst phoneRegex = /^\\+?[1-9]\\d{7,14}$/;\n\n// Only validate customer-submitted fields\nconst requiredFields = [\n  \"Name\",\n  \"email\",\n  \"phone\",\n  \"budget_estimate\",\n  \"use_case\"\n];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // ---------- Required Fields ----------\n  for (const field of requiredFields) {\n    if (\n      data[field] === undefined ||\n      data[field] === null ||\n      (typeof data[field] === \"string\" && data[field].trim() === \"\")\n    ) {\n      throw new Error(`${field} is missing or empty`);\n    }\n  }\n\n  // ---------- Type Checks ----------\n  if (typeof data.Name !== \"string\") throw new Error(\"Name must be a string\");\n  if (typeof data.email !== \"string\") throw new Error(\"Email must be a string\");\n  if (typeof data.phone !== \"string\") throw new Error(\"Phone must be a string\");\n  if (typeof data.budget_estimate !== \"number\") throw new Error(\"Budget must be a number\");\n\n  // ---------- Email & Phone Validation ----------\n  if (!emailRegex.test(data.email)) throw new Error(\"Invalid email format\");\n  if (!phoneRegex.test(data.phone)) throw new Error(\"Invalid phone format\");\n\n  // ---------- Budget Validation ----------\n  if (!Number.isFinite(data.budget_estimate)) throw new Error(\"Budget must be a valid number\");\n  if (data.budget_estimate < 0) throw new Error(\"Budget must be 0 or greater\");\n}\n\n// ✅ If all items pass validation → return them unchanged\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        384
      ],
      "id": "d45e62ac-dcbe-4536-9cf1-20b027663f71",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=Name",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        352
      ],
      "id": "0ba88d49-db14-4d0c-9d33-e2817439a445",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "=unique_id",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        528
      ],
      "id": "0430659d-de8f-4593-93e4-e354a7aa7e73",
      "name": "Merge",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "DSinRF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "DSinRF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "combine 4 data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Create or update a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Create or update a record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DSinRF": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DSinRF1": {
      "main": [
        [
          {
            "node": "PrSR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrSR": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combine 4 data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "x_vI4ZWBldn7ZjzHIxlV8",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2fb80d9d-df43-4da6-bc75-91b412e6a5e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "535f78859c976ee437990cf6b50ea739dc9dc96637233eaa813dd87d4093f99b"
  },
  "id": "HoTEst9Adb-f0IVQ9VzhC",
  "tags": []
}